apiVersion: apps/v1
kind: Deployment
metadata:
  name: carbon-app-deployment
  namespace: "2401129"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: carbon-emission-app
  template:
    metadata:
      labels:
        app: carbon-emission-app
    spec:
      imagePullSecrets:
        - name: nexus-secret 
      containers:
        - name: carbon-app-container
          image: nexus-service-for-docker-hosted-registry.nexus.svc.cluster.local:8085/2401129/carbon-emission-app:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          env:
            - name: DB_URL
              value: "jdbc:mysql://192.168.23.88:3306/projectcrud?useSSL=false&allowPublicKeyRetrieval=true"
            - name: DB_USER
              value: "root"
            - name: DB_PASSWORD
              value: ""