apiVersion: apps/v1
kind: Deployment
metadata:
  name: carbon-app-deployment
  # FIX 1: Namespace must be in quotes!
  namespace: "2401129"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: carbon-emission-app
  template:
    metadata:
      labels:
        app: carbon-emission-app
    spec:
      containers:
      - name: carbon-app-container
        # FIX 2: Must match the image URL pushed by Jenkins (nexus.imcc.com:8085)
        image: nexus.imcc.com:8085/carbon-emission-app:v1
        imagePullPolicy: Always
        ports:
        - containerPort: 8080