apiVersion: apps/v1
kind: Deployment
metadata:
  name: carbon-app-deployment
  namespace: 2401129
spec:
  replicas: 1
  selector:
    matchLabels:
      app: carbon-emission-app
  template:
    metadata:
      labels:
        app: carbon-emission-app
    spec:
      containers:
      - name: carbon-app-container
        # CHANGED PORT TO 8081
        image: 192.168.25.11:8081/carbon-emission-app:v1 
        imagePullPolicy: Always
        ports:
        - containerPort: 8080