apiVersion: apps/v1
kind: Deployment
metadata:
  name: carbon-app-deployment
  namespace: "2401129"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: carbon-emission-app
  template:
    metadata:
      labels:
        app: carbon-emission-app
    spec:
      containers:
      - name: carbon-app-container
        # FIX: Use the REAL Internal Address
        image: nexus-service-for-docker-hosted-registry.nexus.svc.cluster.local:8085/carbon-emission-app:v1
        imagePullPolicy: Always
        ports:
        - containerPort: 8080